<html>
  <head>
    <style>
      img{
        margin-left:auto;
        margin-right:auto;
        width:100%;
      }
      .center{
        margin-left:auto;
        margin-right:auto;
        width:66%;
      }
    </style>
  </head>
  <body>
    <div>
    <div class="center">
      <img src="/chanel.png" />
    </div>
    <center>
      send inquiries to
      <a href="http://azarbayejani.com">azarbayejani</a> & <a href="http://amgadani.com">gadani</a>
    </center>
  </div>
  </body>
</html>
