<div class="container non-home hero-unit">
  <h1>Endorsements</h1>
  <hr/>
  <div class="row">
    <div class="span6 offset3">
      <h1 style="font-weight:400">
        <a href="http://www.diamondbackonline.com/opinion/article_d5bfae0e-abb9-11e2-b0ec-0019bb30f31a.html">The Diamondback</a>
      </h1>
      <hr />
      
    </div>
  </div>

  <ul class="row">
    <div class="offset2 span4">
      <li>KedmaUMD</li>
      <li>UMD National Society of Black Engineers</li>
    </div>
    <div class="span4">
      <li>Lakeland STARs</li>
    </div>
  </ul>
</div>
