<div class="SUPER">
<div class="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <img src="/img/PICV2.png" alt="" />
      <div class="container">
        <div class="carousel-caption">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <hr class="featurette-divider">
  <div class="featurette">
    <img class="featurette-image pull-left" src="http://placehold.it/600x400" />
    <h2 class="featurette-heading">Voting is easy.</h2> 
    <p class="lead">You can do it on Testudo between Monday, April 22 and Wednesday, April 24. 
    <h2 class="featurette-heading"><em><a href="/voting">Make a plan to vote</a></em></h2>
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <img class="featurette-image pull-left" src="http://placehold.it/600x400" />
    <h2 class="featurette-heading"><a href="/sugg">Make your voice heard</a></h2>
    <p class="lead">What do you want to fix? Got a suggestion for our platform?</p>
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <img class="featurette-image pull-left" src="http://placehold.it/600x400" />
    <h2 class="featurette-heading"><a href="/sugg">Find out who's running to represent you</a></h2>
    <p class="lead">Every student has representatives from their college and from where they live.</p>
  </div>
</div>
  
</div>



