<div class="SUPER">
<div class="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <img src="/img/PICV2.png" alt="" />
      <div class="container">
        <div class="carousel-caption">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  
</div>
<div class="container marketing">
</div>



