<div class="SUPER">
<div class="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <img src="/img/PICV2.png" alt="" />
      <div class="container">
        <div class="carousel-caption">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <hr style="margin:20px 0"/>
  <div class="featurette">
    <img class="featurette-image pull-left img-rounded" src="/img/front2a.JPG" />
    <h2 class="featurette-heading"><em><a href="/voting">Make a plan to vote</a></em></h2>
    <p class="lead">Voting is easy. You can do it on Testudo between Monday, April 22 and Wednesday, April 24. 
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <img class="featurette-image pull-left img-rounded" src="/img/front3.JPG"/>
    <h2 class="featurette-heading"><a href="/sugg">Make your voice heard</a></h2>
    <p class="lead">What do you want to fix? Got a suggestion for our platform?</p>
  </div>
  <hr class="featurette-divider">
  <div class="featurette">
    <img class="featurette-image pull-left img-rounded" src="/img/front4.JPG" />
    <h2 class="featurette-heading" style="padding-top: -10%;"><a href="https://www.thunderclap.it/projects/1917-go-party-umd">Show your support</a></h2>
    <p class="lead">Our voices are louder when we speak together.</p>
  </div>
  <footer>
    <hr/>
    <p>© 2013 Go Party UMD ·Designed by <a href="http://azarbayejani.com">Bobby Azarbayejani</a>  · <a href="/privacy.pdf">Privacy</a> · <a href="https://www.facebook.com/GoPartyUMD">Facebook</a> ·<a href="https://twitter.com/gopartyumd">Twitter</a></p>
  </footer>
</div>
  
</div>



