<h1>Show your support</h1>
<h1>Pledge to vote</h1>
<form method="POST" action="/survey">
  <div class="row">
    <input name="first" placeholder="first name" type="text" required class="span2"/>
    <input name="last" placeholder="last name" type="text" required />
  </div>
  <div class="row form-horizontal ">
    <input name="email" placeholder="email" type="email" required class="span4"/>
    <button id="GO" class="btn btn-success">GO</button>
  </div>
</form>
<h3><small>Be reminded to vote on election day | Privacy Policy</small></h3>

          

