<div class="container">
  <div class="container-text">
    <div class="hidden-tablet span5">
      <h3>We've brought $5 million to UMD for mental health, registered over 4000 students to vote, and started What To Fix UMD. </h3>
      <hr />
    </div>
    <div class="span5">
    <h2>Let's finish what we started.</h2>
    <h2>Commit to vote today.</h2>
  </div>

    <form method="POST" action="/survey" class="span5">
      <div class="row" style="padding-bottom:5px">
        <input name="first" placeholder="first name" type="text" required class="span2"/>
        <input name="last" placeholder="last name" type="text" required />
      </div>
      <div class="row form-horizontal ">
        <input name="email" placeholder="email" type="email" required class="span4"/>
        <button id="GO" class="btn btn-success">GO</button>
      </div>
    </form>
  </div>
</div>
          
