<div class="container">
  <div class="container-text">
    <div class="hidden-phone hidden-tablet span5">
      <h3>We've brought $5 million to UMD for mental health, registered over 4000 students to vote, and started What To Fix UMD. </h3>
      <hr />
    </div>
    <div class="span5">
      <a href="https://login.umd.edu/cas/login?service=http://www.sga.umd.edu/sgavs/index.cfm?event=CASStudentAuthentication" class="pull-right btn btn-success btn-xlarge">GO Vote</a>
      <h3>Let's finish what we started.
        Commit to vote today.</h3>
    </div>
    
  </div>
</div>
          
