<div class="container">
  <div class="container-text">
    <div class="hidden-phone hidden-tablet span5">
      <h3>We've brought $5 million to UMD for mental health, registered over 4000 students to vote, and started What To Fix UMD. </h3>
      <hr />
    </div>
    <div class="span5">
      <h3 style="padding-top:0px;margin-top:0px; margin-bottom:-10px;">Let's finish what we started.</h3>
        <a href="https://login.umd.edu/cas/login?service=http://www.sga.umd.edu/sgavs/index.cfm?event=CASStudentAuthentication" class="btn btn-success btn-xlarge" style="margin-top:10px">GO Vote</a>
    </div>
    
  </div>
</div>
          
