<div class="container non-home">
<form method="POST" action="/login" >
  <label for="username">Username</label>
  <input id="username" type="text" name="username"/>
  <label for="password">Password</label>
  <input id="password" name="password" type="password" />
  <br/>
  <input class="btn" type="submit" value="Login" />
  or <a href="/">Cancel</a>
  
</form>
</div>
