<div class="span6">
<h2>Thank you for committing to vote!</h2>

<div class="well">
  <h4><a href="<%= params.to_s %>">Put it on my calendar</a></h4>
<h4><a href="<%= settings.FACEBOOK_URL %>">Share on Facebook</a></h4>
<h4><a href="http://twitter.com/share?url=http://gopartyumd.com&text=I+pledged+to+vote+for+Go+Party&hashtags=umd,goparty2013">Tweet about us</a></h4>
</div>
</div>


